/* code */

pre code {
  overflow: auto;
  display: block;
  font-family: Monaco,Consolas,"Lucida Console",monospace;
  border: 0;
  line-height: 1.9em;
  border-radius: 5px;
  padding: 20px!important;
  white-space: pre;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #888;
  font-size: 13px;
  background: #232323;
  color: white;
}
code {
  font-size: 14px;
  padding: 3px 5px;
  background: #eee;
  color: teal;
}

.highlight pre code.language-diff {
  background: white;
  color: black;
  border: 1px solid teal;
}

/* github style diff color gi*/

.highlight .language-diff .gi {
  background: #EAFFEA;
  padding: 7px 0;
  /* github green */
}


.highlight .language-diff .gd {
  background-color: #ffecec;
  padding: 7px 0;
  /* github diff red */
}
