/*
font-family:'Avenir Next W01 Thin';
font-family:'AvenirNextW01-ThinItali';
font-family:'AvenirNextLTW01-Regular';
font-family:'AvenirNextLTW01-Italic';
font-family:'Avenir Next LT W01 Bold';
font-family:'AvenirNextLTW01-BoldIta';
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

a {
  color: #307EA9;
}

ul {
  padding-left: 20px;
}

b, strong {
  color: #555;
}

li {
  padding: 0;
  list-style-type: square;
  font-size: 20px;
  margin-left: 0;
  line-height: 160%;
}

::selection{
  background:#fff7a8;
  color:#444;
  text-shadow:none
}

.clear {
  clear: both;
}

.header {
  margin: 75px 0 25px 0;
}
  .header a, .header b {
    color: #444;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
  }
  .header a:hover, .header a:hover b {
    color: #307EA9;
  }

  .name a {
    font-size: 30px;
    font-family: 'Avenir Next W01 Thin';
    font-weight: normal;
    text-transform: uppercase;
  }
  .name b {
    font-family: 'Avenir Next LT W01 Bold';
    font-weight: normal;
  }

  .menu {
    padding: 0;
    margin: 0;
    font-family: 'Avenir Next LT W01 Bold';
    text-transform: uppercase;
    float: right;
  }
  .menu li {
    display: inline;
    padding-left: 15px;
  }
  .menu li a{
    font-size: 14px;
  }

.container {
  width: 900px;
  margin: 0 auto;
}

.hero {
  background-color: #2B2B2B;
  background-size: cover;
  height: 200px;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

.aside {
  margin-bottom: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

.title {
  padding: 10px 10px 10px 23px;
  border-left: 7px solid #eee;
  margin: 40px -30px 30px -30px;
  font-size: 34px;
  color: teal;
}

h1 {
  margin: 50px -30px 20px -30px;
  padding: 10px 30px 10px 25px;
  border-left: 5px solid #eee;
  font-size: 24px;
  font-weight: 200;
  color: teal;
}

  .content i, .content em {
    font-family: 'AvenirNextLTW01-Italic';
    font-style: normal;
  }
  .content b, .content strong {
    font-family: 'Avenir Next LT W01 Bold';
    font-weight: normal;
  }
  .content em b {
    font-family: 'AvenirNextLTW01-BoldIta';
    font-weight: normal;
    font-style: normal;
  }
  .content p {
    line-height: 1.75;
    color: #595959;
    margin: 25px 0;
  }
  .content img:not(.emoji) {
    display: block;
    margin: 25px auto;
    max-width: 580px;
  }
  .content li {
    margin-bottom: 20px;
  }

  pre {
    overflow: auto;
    display: block;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    background-color: #333;
    border: 0;
    color: #e9e4e5;
    line-height: 1.9em;
    border-radius: 5px;
    background-clip: padding-box;
    padding: 20px!important;
    white-space: pre;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #888;
  }


  pre code {
    font-weight: lighter;
    padding: 0;
    font-size: 13px;
    background: none;
    color: white;
  }

  code {
    font-size: 15px;
    padding: 3px 5px;
    background: #eee;
    color: teal;
  }

  .content .when + p:first-of-type {
    display: inline;
  }

  .content blockquote p {
    color: #000;
    font-style: italic;
    font-size: 16px;
  }

  .when {
    padding-top: 5px;
    font-size: 13px;
    text-transform: uppercase;
    color: #999;
  }
  .content hr{
    border: 0;
    height: 6px;
    background-image: url('/images/hr.png');
    background-repeat: repeat-x;
    margin: 2em 3em;
  }
  .colophon {
    margin: 75px -30px -45px -30px;
    text-align: center;
  }
    .colophon .color, .colophon .typeface {
      width: 100px;
      display: inline-block;
      margin: 5px;
      font-size: 12px;
      box-shadow: 0 0 3px #ccc;
      border-radius: 3px;
    }
    .colophon .typeface b {
      background-color: #fbfbfb;
      display: block;
      width: 100px;
      height: 19px;
      text-transform: uppercase;
      border-bottom: 1px solid #eee;
      color: #ccc;
    }
    .clear {
      height: 50px;
    }

.listing {
  margin: 25px 0;
  padding: 0;
}
  .listing li {
    list-style-type: none;
    margin-bottom: 0;
    padding: 7px 5px;
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }
  .listing span {
    padding-top: 2px;
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
  }

/* footer */
.footer {
  margin-top: 150px;
  background-size: cover;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
  padding: 25px;
}
.weibo-follow {
  color: rgba(0,0,0,.8);
  font-family: 'Avenir Next LT W01 Bold';
  font-weight: normal;
  font-size: 14px;
  float: left;
  margin-top: 16px;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px 7px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.weibo-follow:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
}
.meta {
  float: right;
}
.meta a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
}
.meta a:hover {
  text-shadow: 0 0 15px #000;
}
.meta .block {
  margin-top: 10px;
  display: inline-block;
  padding-right: 10px;
}
