body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #dda;
  color: #222;
}
#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 0;
  background: #fff;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#header {
  font-family: Courier;
  text-align: left;
  background: #222;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 1.5em;
  text-align: center;
}

#header h1 {
  font-size: 3em;
  display: inline;
  color: #fff;
  font-weight: normal;
}

#header h2 {
  display: inline;
  margin-left: 0.5em;
  font-size: 1.4em;
  font-weight: normal;
  color: #dd5;
}

#menu {
  background: #444;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: white;
  font-size: 1.1em;
  padding: 0 0.8em;
  line-height: 2.5em;
  font-weight: normal;
}

#message {
  padding: 20px;
  margin: 10px 30px;
  border: 1px solid #383;
  background: #aea;
  text-align: center;
}

.content {
  padding: 2em;
}


.content p {
  line-height: 1.75;
  color: #595959;
}

span.date {
  background: #484;
  display: block;
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid #262;
  float: left;
}

div.post {
  margin-bottom: 2em;
}

.post h1 {
  margin-top: 0.2em;
}

.post { color: #333; }

.post h1 a {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #555;
  font-weight: bold;
}

.post br { margin-bottom: 10px;}

div.related {
  margin-bottom: 2em;
}

#footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}

.clearfix { clear: both;}

#footer a {
  color: #3E423A;
  font-weight: normal;
}


.content img {
  display: block;
  margin: 25px auto;
  max-width: 620px;
  border: 0;
}

div.slide {
  text-align: center;
}


/* index table */
.index-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.index-table>tbody>tr>td {
  border: 1px solid #ddd;
  line-height: 1.5;
  padding: 20px;
  vertical-align: middle;
}
.index-table .episode-title {
  padding: 0 !important;
}
.index-table .odd {
  background-color: #f9f9f9;
}
.episode-wrap:hover {
  background-color: #7EB6AD;
  color: white;
}
.episode-wrap:hover a{
  color: #fff !important;
}
.index-table .episode-title a {
  display: block;
  padding: 20px;
  color: #c0865e;
}
.index-table .episode-length {
  width: 100px;
  text-align: center;
}
.index-table .episode-index {
 text-align: center;
 width: 60px;
}

/* common */
a {
  text-decoration: none;
}
