.new-issue-form-container {
  width: 800px;
  background: white;
  margin: 30px auto;
  .new-issue-form {
    width: 600px;
    margin: 10px auto;
  }
}
.submit-issue-button {
  height: 50px;
  width: 100%;
}
